<script type='text/template' id='registrationTemplate'>

  <section class="main-content border-btm-grey small-padding shadow-off" style="background-color: #3962ae;">
    <div class="container">
      <div class="row">
      	<div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
      			  <div class="special-heading textalignleft default lighter animated-content move_right animate" style="padding-bottom: 0px;">
      			    <h1 style="color: #ffffff;" class="fancy default"><span>Register</span></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-content default-padding shadow-off">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default" style="padding-bottom: 10px;">
                <h2 class="fancy default"><span>1. Start donating compute time</span></h2>
              </div>
              <div class="special-heading textalignleft default" style="padding-bottom: 30px;">
                <h6 class="fancy default"><span>In order to start donating compute power, you’ll need to register for World Community Grid, and then download software called BOINC manager.</span></h6>
              </div>
              <div class="special-heading textalignleft default" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>Instructions</span></h3>
              </div>
              <div class="text-block">
                <ol>
                  <li>Register for the <a title="worldcommunitygrid.org/reg/viewRegister.do" href="http://www.worldcommunitygrid.org/reg/viewRegister.do" target="_blank">World Community Grid</a>.</li>
                  <li>Select projects you’d like to participate in (we recommend selecting all – why not?).</li>
                  <li>Download the BOINC Manager software. Berkeley researchers developed BOINC Manager as a way for computers around the world to volunteer computing time in a secure and efficient way. In order to receive points, it’s very important you join the World Community Grid project. Detailed instructions are here:
                    <ul>
                      <li><a title="worldcommunitygrid.org/ms/installInstMac.jsp" href="https://secure.worldcommunitygrid.org/ms/installInstMac.jsp" target="_blank">Mac instructions</a></li>
                      <li><a title="worldcommunitygrid.org/ms/installInstWin.jsp" href="https://secure.worldcommunitygrid.org/ms/installInstWin.jsp" target="_blank">Windows instructions</a></li>
                      <li><a title="worldcommunitygrid.org/ms/installInstAndroid.jsp" href="https://secure.worldcommunitygrid.org/ms/installInstAndroid.jsp" target="_blank">Android instructions</a></li>
                      <li><a title="worldcommunitygrid.org/ms/installInstLinux.jsp" href="https://secure.worldcommunitygrid.org/ms/installInstLinux.jsp" target="_blank">Linux instructions</a></li>
                    </ul>
                  </li>
                  <li><a href="http://www.worldcommunitygrid.org/team/viewTeamInfo.do?teamId=0QGNJ4D832" target="_blank">Join the Ripple Labs team</a>.</li> You must remain a member of the Ripple Labs team to claim XRP.
                  <li>You’re now set up to start donating! Run the BOINC Manager program each time you want to donate.</li>
                  <li>Now that you’ve started donating, you may want to change your settings so your computer will donate the max amount possible.
                    <ul>
                      <li>Change your device settings on World Community Grid to “maximum output” <a title="worldcommunitygrid.org/ms/device/viewProfiles.do" href="https://secure.worldcommunitygrid.org/ms/device/viewProfiles.do" target="_blank">here</a>.</li>
                      <li>In Boincmanager, go to Advanced &gt; Preferences. You can change your settings so you’re donating compute time while the computer is in use, on batteries etc.</li>
                    </ul>
                  </li>
                  <li>Need more help? The <a href="https://secure.worldcommunitygrid.org/help/viewHelp.do" target="_blank">WCG help center</a> has great tutorial videos, and you can visit the <a href="https://secure.worldcommunitygrid.org/forums/wcg/index" target="_blank">WCG forum</a>.</li>
                </ol>
              </div>
          	</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="divider normal animated-content fade_in animate" style="margin-top: 60px; margin-bottom: 72px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 10px;">
                <h2 class="fancy default"><span>2. Start Claiming XRP</span></h2>
              </div>
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>Connect your WCG account to your Ripple account</span></h3>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p style="width: 50%;">Once you start claiming XRP, all your compute time associated with your WCG username will be deposited into your Ripple public address. You will not be able to un-link these two accounts. We issue XRP once a day. Please wait 24 hours and then check your balance.</p>
              </div>
              <div class="blank_divider" style="height: 5px;"></div>
              <form method='post' action='/api/users' id='newUserForm'>
              	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
              		<div class="wpb_wrapper">
              			<p>
                      Ripple Public Address
                      <br>
                      <input type="text" name="ripple_address" value="" size="40" aria-required="true">
                    </p>
                    <p class='errors' id='rippleAddressErrors'>Please enter a valid ripple public address</p>
                      <div class="text-block animated-content fade_in animate">
                        <p style="width: 50%; font-size: 12px;">To find your public address, <a title="https://ripple.com/client" href="https://ripple.com/client" target="_blank">login to</a> or <a title="https://ripple.com/client/#/register" href="https://ripple.com/client/#/register" target="_blank">create</a> a Ripple account. Click on the “Receive” icon and copy your public address. Only enter addresses for which you have control.</p>
                      </div>
                    <p>
                      WCG Username
                      <br>
                      <input type="text" name="username" size="40" aria-required="true">
                    </p>
                    <p class='errors' id='wcgUsernameErrors'></p>
                    <p>
                      WCG Verification Code
                      <br>
                      <input type="text" name="verification_code" value="" size="40" aria-required="true">
                    </p>
                    <p class='errors' id='wcgVerificationCodeErrors'></p>
                    <div class="text-block animated-content fade_in animate">
                      <p style="width: 50%; font-size: 12px;"><a title="https://secure.worldcommunitygrid.org/ms/viewMyProfile.do" href="https://secure.worldcommunitygrid.org/ms/viewMyProfile.do" target="_blank">Login to your WCG profile</a>&nbsp;to find&nbsp;your verification code.</p>
                    </div>
                  </div>
              	</div>
              	<div class="blank_divider" style="height: 15px;"></div>
                <input type='submit' class="button-main button-large animated-content fade_in animate" value="Start Claiming XRP">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-content no-padding shadow-off">
    <div class="container-fluid">
      <div class="row">
      	<div class="col-md-12">
      		<div class="divider normal animated-content fade_in animate" style="margin-top: 30px; margin-bottom: 36px;"></div>
      	</div>
      </div>
    </div>
  </section>

  <section class="main-content">
    <div class="container">
      <div class="row">
      	<div class="col-md-12">
    			<div class="row">
          	<div class="col-md-12">
        			<div class="text-block animated-content fade_in animate"> <span style="color: #bbbbbb; font-size: 12px;">This giveaway may be discontinued at any time without notice. At any time and without prior notice, Ripple Labs may change the total XRP given away per day, as well as the WCG point to XRP giveaway ratio. Ripple Labs is not affiliated with or endorsed by the World Community Grid, nor do we endorse them. Please report bugs and direct questions about this giveaway to support@ripple.com. Otherwise, please refer to support from WCG for particulars about running their client. Security bugs, in this giveaway, must be reported unused to be eligible for the Ripple XRP Bug Bounty. Please report security bugs in accordance with the bounty rules. If you find a security bug in the World Community Grid, please inform them directly as we have no special access to their team.</span>
        			</div>
          	</div>
          </div>
      	</div>
      </div>
    </div>
  </section>

</script>

<script type='text/template' id='registrationTemplateChinese'>
  <section class="main-content border-btm-grey small-padding shadow-off" style="background-color: #3962ae;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default lighter animated-content move_right animate" style="padding-bottom: 0px;">
                <h1 style="color: #ffffff;" class="fancy default"><span>Register</span></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-content default-padding shadow-off">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default" style="padding-bottom: 10px;">
                <h2 class="fancy default"><span>1. 开始捐赠计算时间</span></h2>
              </div>
              <div class="special-heading textalignleft default" style="padding-bottom: 30px;">
                <h6 class="fancy default"><span>为了捐赠算力，你需要注册WCG然后下载BOINC Manager软件。
</span></h6>
              </div>
              <div class="special-heading textalignleft default" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>指示</span></h3>
              </div>
              <div class="text-block">
                <ol>
                  <li>注册 <a title="worldcommunitygrid.org/reg/viewRegister.do" href="http://www.worldcommunitygrid.org/reg/viewRegister.do" target="_blank">World Community Grid</a>.</li>
                  <li>选择你想参加的项目。（我们建议选择全部项目).
</li>
                  <li>下载BOINC Manager软件，一个用于捐赠计算资源的平台。为了获得WCG点，参加WCG项目很重要。请见Mac, Windows, Android, or Linux的详细说明。
                    <ul>
                      <li><a title="worldcommunitygrid.org/ms/installInstMac.jsp" href="https://secure.worldcommunitygrid.org/ms/installInstMac.jsp" target="_blank">Mac instructions</a></li>
                      <li><a title="worldcommunitygrid.org/ms/installInstWin.jsp" href="https://secure.worldcommunitygrid.org/ms/installInstWin.jsp" target="_blank">Windows instructions</a></li>
                      <li><a title="worldcommunitygrid.org/ms/installInstAndroid.jsp" href="https://secure.worldcommunitygrid.org/ms/installInstAndroid.jsp" target="_blank">Android instructions</a></li>
                      <li><a title="worldcommunitygrid.org/ms/installInstLinux.jsp" href="https://secure.worldcommunitygrid.org/ms/installInstLinux.jsp" target="_blank">Linux instructions</a></li>
                    </ul>
                  </li>
                  <li><a href="http://www.worldcommunitygrid.org/team/viewTeamInfo.do?teamId=0QGNJ4D832" target="_blank">加入WCG "Ripple Labs"团队.</a>你必须留在这个团队.</li>
                  <li>你现在就可以开始捐赠算力了！每次捐赠时，请运行BOINC Manager程序。
</li>
                  <li>开始捐赠后，你可能会想更改设置以保证电脑尽可能最大量的捐赠。
                    <ul>
                      <li>在WCG上更改设备设置为 <a title="worldcommunitygrid.org/ms/device/viewProfiles.do" href="https://secure.worldcommunitygrid.org/ms/device/viewProfiles.do" target="_blank">“最大输出”</a>.</li>
                      <li>在BOINC Manager中，选择高级设置>参数。你可以更改设置以便在电脑被使用时或使用电池时可以捐赠计算时间。
</li>
                    </ul>
                  </li>
                  <li>需要更多帮助？ The <a href="https://secure.worldcommunitygrid.org/help/viewHelp.do">WCG中心</a> 视频教程, 或 <a href="https://secure.worldcommunitygrid.org/forums/wcg/index" target="_blank">者访问WCG论坛</a>.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="divider normal animated-content fade_in animate" style="margin-top: 60px; margin-bottom: 72px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 10px;">
                <h2 class="fancy default"><span>2. 开始获得 XRP</span></h2>
              </div>
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>关联你的 WCG 账户和 Ripple 账户</span></h3>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p style="width: 50%;">O一旦开始获得 XRP，你所有的与 WCG 用户名相关联的计算时间都将被存入Ripple 钱包地址中。你不能断开这两个账户。我们每天都会奖励 WCG 点，请在24小时内检查。
</p>
              </div>
              <div class="blank_divider" style="height: 5px;"></div>
              <form method='post' action='/api/users' id='newUserForm'>
                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                  <div class="wpb_wrapper">
                    <p>
                      Ripple 钱包地址
                      <br>
                      <input type="text" name="ripple_address" value="" size="40" aria-required="true">
                    </p>
                    <p class='errors' id='rippleAddressErrors'>这不是一个有效的 Ripple 钱包地址。
</p>
                      <div class="text-block animated-content fade_in animate">
                        <p style="width: 50%; font-size: 12px;">要找到你的钱包地址，请 <a title="https://ripple.com/client" href="https://ripple.com/client" target="_blank">登陆</a> 或<a title="https://ripple.com/client/#/register" href="https://ripple.com/client/#/register" target="_blank">创建</a> Ripple账户. 点击“接收”图标并复制公共地址。你只能进入到你拥有权限的地址。
</p>
                      </div>
                    <p>
                      WCG 用户名
                      <br>
                      <input type="text" name="username" size="40" aria-required="true">
                    </p>
                    <p class='errors' id='wcgUsernameErrors'></p>
                    <p>
                      WCG 验证码
                      <br>
                      <input type="text" name="verification_code" value="" size="40" aria-required="true">
                    </p>
                    <p class='errors' id='wcgVerificationCodeErrors'></p>
                    <div class="text-block animated-content fade_in animate">
                      <p style="width: 50%; font-size: 12px;"><a title="https://secure.worldcommunitygrid.org/ms/viewMyProfile.do" href="https://secure.worldcommunitygrid.org/ms/viewMyProfile.do" target="_blank">进入到你的 WCG 个人资料。</a>复制验证码。
</p>
                    </div>
                  </div>
                </div>
                <div class="blank_divider" style="height: 15px;"></div>
                <input type='submit' class="button-main button-large animated-content fade_in animate" value="开始获得 XRP">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-content no-padding shadow-off">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="divider normal animated-content fade_in animate" style="margin-top: 30px; margin-bottom: 36px;"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="text-block animated-content fade_in animate"> <span style="color: #bbbbbb; font-size: 12px;">此次赠送有可能随时停止，无需事先通知。Ripple Labs 可能会随时更改每天的 XRP 总发放量以及与 XRP 发放量比例相对应的 WCG 点，无需事先通知。Ripple Labs 与 WCG 没有隶属和债权或债务关系。如有与关于XRP发放的有关错误或提出疑问，请在 support@ripple.com 上报告。除此以外关于 WCG 客户端使用的细节问题请咨询 WCG。关于 XRP 发放的安全漏洞报告仅限于 Ripple XRP bug 奖励条款。请根据奖励条款报告安全漏洞。如果在 WCG 中发现安全漏洞，请直接报告给 WCG，因为我们并不专门联系 WCG 团队。
</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</script>
