<form method='post' action='/sessions' id='newSessionForm'>
  <label>WCG Username:</label>
  <input name='username' type='text'/><br/>

  <label>WCG Verification Code:</label>
  <input name='verification_code' type='text'/><br/>

  <input type='submit'/>
</form>
