<div id="content">
</div>

<% content_for :javascripts do %>
  <script>
    $('#content').html($('#loginTemplate').html());

    $(document).on('change:language', function(event, language) {
      if (language == 'chinese') {
        chinese = true;
        $('#content').html($('#loginTemplateChinese').html());
      } else {
        chinese = false;
        $('#content').html($('#loginTemplate').html());
      }
    })
  </script>
<% end %>