<header class="normal-header">
</header>


<!-- Header -->
<script type='text/template' id='headerTemplate'>
<header class="normal-header">
    <div class="container">
        <div class="row">

        <div class="col-md-3">
        <div id="logo">
            <a href="/" title="Computing for Good">
                                    <img class="standard" src="/home_files/ripplelabs_logo1.png" alt="Computing for Good" width="" height="60">
                    <img class="retina" src="/home_files/ripplelabs_logo1.png" alt="Computing for Good" width="" height="60">
                            </a>
        </div>
        </div>

        <div class="col-md-9">
            <!-- Mobile Menu -->
            <a id="mobile-nav" class="menu-nav" href="#menu-nav"><span class="menu-icon"></span></a>

            <!-- Standard Menu -->
            <div id="menu">
                <ul id="menu-nav" class="sf-js-enabled">
                  <li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-406 current_page_item menu-item-408">
                      <a href="/">Home</a>
                  </li>
                  <li id="menu-item-459" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-459">
                    <a href="/register">Register</a>
                  </li>
                  <li id="menu-item-600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-600">
                      <a href="/stats">My Stats</a>
                  </li>
                  <li id="menu-item-600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-600">
                      <a href="/faq">FAQ</a>
                  </li>
                </ul>
            </div>
        </div>

        </div>
    </div>
</script>

<script type='text/template' id='headerTemplateChinese'>
   <div class="container">
        <div class="row">

        <div class="col-md-3">
        <div id="logo">
            <a href="/" title="Computing for Good">
                                    <img class="standard" src="/home_files/ripplelabs_logo1.png" alt="Computing for Good" width="" height="60">
                    <img class="retina" src="/home_files/ripplelabs_logo1.png" alt="Computing for Good" width="" height="60">
                            </a>
        </div>
        </div>

        <div class="col-md-9">
            <!-- Mobile Menu -->
            <a id="mobile-nav" class="menu-nav" href="#menu-nav"><span class="menu-icon"></span></a>

            <!-- Standard Menu -->
            <div id="menu">
                <ul id="menu-nav" class="sf-js-enabled">
                  <li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-406 current_page_item menu-item-408">
                      <a href="/">首页</a>
                  </li>
                  <li id="menu-item-459" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-459">
                    <a href="/register">注册</a>
                  </li>
                  <li id="menu-item-600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-600">
                      <a href="/my-stats">我的统计信息</a>
                  </li>
                </ul>
            </div>
        </div>

        </div>
    </div>
</script>


    <div id="navigation-mobile" style="display:block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul id="menu-nav-mobile">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-406 current_page_item menu-item-408"><a href="/">Home</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-600"><a href="/register">Register</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-459"><a href="/my-stats">My Stats</a></li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
