<form method='post' action='/api/users'>
  <label>Ripple Address:</label>
  <input name='ripple_address' type='text'/><br/>

  <label>WCG Id:</label>
  <input name='member_id' type='text'/><br/>

  <label>WCG Username:</label>
  <input name='username' type='text'/><br/>

  <label>WCG Verification Code:</label>
  <input name='verification_code' type='text'/><br/>

  <input type='submit'/>
</form>
