<div id='content'>
</div>

<% content_for :javascripts do %>
  <script>
    $(document).on('change:language', function(e, language) {
      if (language == 'chinese') {
        $('#content').html($('#registrationTemplateChinese').html());
      } else {
        $('#content').html($('#registrationTemplate').html());
      }
    })

    $(function () {
      $('#content').html($('#registrationTemplate').html());
    });
  </script>
<% end %>