
<div id="content">
	                <section class="main-content border-btm-grey small-padding shadow-off" style="background-color: #3962ae;"><div class="container"><div class="row">
	<div class="col-md-12">
			<div class="row">
	<div class="col-md-12">
			<div class="special-heading textalignleft default lighter animated-content move_right animate" style="padding-bottom: 0px;"><h1 style="color: #ffffff;" class="fancy default"><span>Getting Started</span></h1></div>

	</div> 
</div>
	</div> 
</div></div></section><section class="main-content default-padding shadow-off"><div class="container"><div class="row">
	<div class="col-md-12">
			<div class="row">
	<div class="col-md-12">
			<div class="special-heading textalignleft default" style="padding-bottom: 10px;"><h2 class="fancy default"><span>Start donating compute time</span></h2></div>
<div class="special-heading textalignleft default" style="padding-bottom: 30px;"><h6 class="fancy default"><span>In order to start donating compute power, you’ll need to register for World Community Grid, and then download software called BOINC manager.</span></h6></div>
<div class="special-heading textalignleft default" style="padding-bottom: 0px;"><h3 class="fancy default"><span>Instructions</span></h3></div>
<div class="text-block">
<ol>
<li>Register for the <a href="http://www.worldcommunitygrid.org/reg/viewRegister.do">World Community Grid</a>.</li>
<li>Select projects you’d like to participate in (we recommend selecting all, why not?)</li>
<li>Download the BOINC Manager software, a platform for donating computing resources. In order to receive points, it’s very important you join the World Community Grid project. Detailed instructions are here:
<ul>
<li>Mac instructions : <a href="https://secure.worldcommunitygrid.org/ms/installInstMac.jsp">https://secure.worldcommunitygrid.org/ms/installInstMac.jsp</a></li>
<li>Windows instructions: <a title="https://secure.worldcommunitygrid.org/ms/installInstWin.jsp" href="https://secure.worldcommunitygrid.org/ms/installInstWin.jsp">https://secure.worldcommunitygrid.org/ms/installInstWin.jsp</a></li>
<li>Android instructions: <a href="https://secure.worldcommunitygrid.org/ms/installInstAndroid.jsp">https://secure.worldcommunitygrid.org/ms/installInstAndroid.jsp</a></li>
<li>Linux instructions: <a href="https://secure.worldcommunitygrid.org/ms/installInstLinux.jsp">https://secure.worldcommunitygrid.org/ms/installInstLinux.jsp</a></li>
</ul>
</li>
<li>You’re now set up to start donating! Run the BOINC Manager program each time you want to donate.</li>
<li>Now that you’ve started donating, you may want to change your settings so your computer will donate the max amount possible.
<ul>
<li>Change your device settings on World Community Grid to “maximum output” here: <a href="https://secure.worldcommunitygrid.org/ms/device/viewProfiles.do">https://secure.worldcommunitygrid.org/ms/device/viewProfiles.do</a></li>
<li>In Boincmanager, go to Advanced &gt; Preferences. You can change your settings so you’re donating compute time while the computer is in use, on batteries etc.</li>
</ul>
</li>
<li>Need more help? The <a href="https://secure.worldcommunitygrid.org/help/viewHelp.do">WCG help center</a> has great tutorial videos, and you can also visit the <a href="https://secure.worldcommunitygrid.org/forums/wcg/index">WCG forum</a>.</li>
</ol>
</div>
	</div> 
</div><div class="row">
	<div class="col-md-12">
			<div class="divider normal animated-content fade_in animate" style="margin-top: 60px; margin-bottom: 72px;"></div>

	</div> 
</div><div class="row">
	<div class="col-md-12">
			<div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 10px;"><h2 class="fancy default"><span>Start Claiming XRP</span></h2></div>
<div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 0px;"><h3 class="fancy default"><span>Connect your WCG account to your Ripple account</span></h3></div>
<div class="text-block animated-content fade_in animate">
<p style="width: 50%;">Once you start claiming XRP, all your compute time associated with this WCG username will be deposited into this Ripple public address. You will not be able to un-link these two accounts.</p>
</div><div class="blank_divider" style="height: 5px;"></div>

<form method='post' action='/api/users' id='newUserForm'>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<p>
<a style="color:#818B92; cursor:default;" href="http://localhost:8888/ripplelabs.com/wcg_giveaway.org/setup/#" data-toggle="tooltip" data-placement="right" data-original-title="To find your public address, login to or create a Ripple account. Click on the &quot;Receive&quot; icon and copy your public address. Only enter addresses for which you have control.">
Ripple Public Address
</a>
<br>
<input type="text" name="ripple_address" value="" size="40" aria-required="true">
</p>
<p class='errors' id='rippleAddressErrors'>Please enter a valid ripple public address</p>

<p>
<a style="color:#818B92; cursor:default;" href="http://localhost:8888/ripplelabs.com/wcg_giveaway.org/setup/#" data-toggle="tooltip" data-placement="right" data-original-title="">
WCG Username
</a>

<br>
<input type="text" name="username" size="40" aria-required="true">
</p>
<p class='errors' id='wcgUsernameErrors'></p>

<p>
<a style="color:#818B92; cursor:default;" href="http://localhost:8888/ripplelabs.com/wcg_giveaway.org/setup/#" data-toggle="tooltip" data-placement="right" data-original-title="Go to your WCG profile, copy your verification code, and paste it here.">
WCG Verification Code
</a>
<br>
<input type="text" name="verification_code" value="" size="40" aria-required="true">
</p>
<p class='errors' id='wcgVerificationCodeErrors'></p>

		</div> 
	</div> <div class="blank_divider" style="height: 15px;"></div>
<input type='submit' class="button-main button-large animated-content fade_in animate" value='Start Claiming XRP'></input>

	</div> 
</form>
</div>
	</div> 
</div></div></section><section class="main-content no-padding shadow-off"><div class="container-fluid"><div class="row">
	<div class="col-md-12">
			<div class="divider normal animated-content fade_in animate" style="margin-top: 30px; margin-bottom: 36px;"></div>

	</div>
</div></div></section><section class="main-content"><div class="container"><div class="row">
	<div class="col-md-12">
			<div class="row">
	<div class="col-md-12">
			<div class="text-block animated-content fade_in animate"> <span style="color: #bbbbbb; font-size: 12px;">This giveaway may be discontinued at any time without notice. At any time and without prior notice, Ripple Labs may change the total XRP given away per day, as well as the WCG point to XRP giveaway ratio. Ripple Labs is not affiliated with or endorsed by the World Community Grid, nor do we endorse them. Please report bugs and direct questions about this giveaway to support@ripple.com. Otherwise, please refer to support from WCG for particulars about running their client. Security bugs, in this giveaway, must be reported unused to be eligible for the Ripple XRP Bug Bounty. Please report security bugs in accordance with the bounty rules. If you find a security bug in the World Community Grid, please inform them directly as we have no special access to their team.</span> </div>
	</div> 
</div>
	</div> 
</div></div></section>
            </div>

