

  <section class="main-content border-btm-grey small-padding shadow-off" style="background-color: #3962ae;">
    <div class="container">
      <div class="row">
      	<div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
      			  <div class="special-heading textalignleft default lighter animated-content move_right animate" style="padding-bottom: 0px;">
      			    <h1 style="color: #ffffff;" class="fancy default"><span>FAQ</span></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-content faq-content default-padding shadow-off">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>Frequently Asked Questions</span></h3>
              </div>
              <div class="text-block">
                <ul style="margin-bottom:16px;">
                  <li><a title="" href="#getstarted">How do I get started with the giveaway?</a></li>
                  <li><a title="" href="#openawallet">How do I open a Ripple wallet?</a></li>
                  <li><a title="" href="#wcgaccountlinking">I am not sure I entered the right verification code when linking my Ripple account to my WCG account.</a></li>
                  <li><a title="" href="#teamusername">When I try to register on ComputingforGood.org, I get an error message “Your username is not part of the Ripple Labs team”.</a></li>
                  <li><a title="" href="#wcgusernametaken">When I register for ComputingforGood.org it says my WCG username is already taken.</a></li>
                  <li><a title="" href="#cfglogin">I was not able to log into my ComputingforGood.org account.
</a></li>
                  <li><a title="" href="#receivexrp">The My stats page shows I have contributed a number of hours but I haven’t received any XRP in my wallet.</a></li>
                  <li><a title="" href="#exchangerate">What is the exchange rate of WCG points to XRP?</a></li>
                  <li><a title="" href="#20xrp">How long will it take until I have earned 20 XRP?</a></li>
                  <li><a title="" href="#xrpearned">Is every transaction of XRP earned from the giveaway the value of exactly one day’s worth of points?</a></li>
                  <li><a title="" href="#transactiontimes">How can I find out the exact times a transaction from the giveaway covers?</a></li>
                  <li><a title="" href="#betaredeem">I was in the Beta version. How do I redeem my points?</a></li>
                  <li><a title="" href="#boincwin8">I’m having issues with the BOINC Manager and Windows 8!</a></li>
                  <li><a title="" href="#walletoffline">When I try to sign in to my Ripple wallet, my wallet is offline.</a></li>
                  <li><a title="" href="#walletdisc">How do I disconnect my Ripple Wallet from my WCG account?</a></li>
                  <li><a title="" href="#walletconnect">How do I connect a new wallet to my WCG account?</a></li>
                </ul>
              </div>
          	</div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="divider normal animated-content fade_in animate" id="getstarted" style="margin-top: 30px; margin-bottom: 36px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>How do I get started with the giveaway?</span></h3>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">You can sign up for the giveaway on the <a href="https://www.computingforgood.org/register">Computing for Good website</a>.</p>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">Make sure you follow all the instructions on this page (scroll down to the end of the page and fill out the form!). Once you are all set up with WCG and on the Ripple Labs WCG team, the last step is to link your WCG account with your Ripple Wallet on the <a href="https://www.computingforgood.org/register">registration page</a>. You won’t get any XRP for points computed unless you fill out the <a href="https://www.computingforgood.org/register">registration page</a> form.</p>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="divider normal animated-content fade_in animate" id="openawallet" style="margin-top: 30px; margin-bottom: 36px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>How do I open a Ripple wallet?</span></h3>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">You can open a Ripple wallet on the <a href="https://ripple.com/client">Ripple website</a>.</p>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">Please note, your wallet is only as safe as the password you set. Money in Ripple wallets functions like cash, and anybody who has your password can steal all the money in the wallet. We recommend not re-using any existing passwords you have, and creating a password that has letters, numbers and symbols.</p>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="divider normal animated-content fade_in animate" id="wcgaccountlinking" style="margin-top: 30px; margin-bottom: 36px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>I am not sure I entered the right verification code when linking my Ripple account to my WCG account.</span></h3>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">You are asked to enter your WCG verification code on the <a hre="https://www.computingforgood.org/register">registration page</a>. To find your verification code, visit <a href="https://secure.worldcommunitygrid.org/ms/viewMyProfile.do">your WCG profile</a>. Login when prompted, and copy your "Verification" code (see screenshot below for location).</p>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p"><img src="" /></p>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">Do not enter your "External Authorization" code. </p>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="divider normal animated-content fade_in animate" id="teamusername" style="margin-top: 30px; margin-bottom: 36px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>When I try to register on ComputingforGood.org, I get an error message “Your username is not part of the Ripple Labs team”.</span></h3>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">Before you can register for the WCG giveaway you need to join the Ripple Labs team which can be done in two ways. </p>
              </div>
              <div class="text-block animated-content fade_in animate">
              	<p class="regform_p">You can <a href="http://www.worldcommunitygrid.org/team/viewTeamInfo.do?teamId=0QGNJ4D832">join the team</a> or go through the following 4 steps:</p>
                <ol>
	                <li>Log on to your WCG profile</li>
	                <li>Go to “My Contributions”</li>
	                <li>Click on “My Team.” If Ripple Labs is not your team, click on...</li>
	                <li>“Find Team.” Now you should be able to search for and join the Ripple Labs Team.</li>
                </ol>              
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="divider normal animated-content fade_in animate" id="wcgusernametaken" style="margin-top: 30px; margin-bottom: 36px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>When I register for ComputingforGood.org it says my WCG username is already taken.</span></h3>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">You have probably already registered and should login by clicking on <a href="https://www.computingforgood.org/stats">My Stats</a>.</p>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">If you are sure you haven’t already registered, please re-register with a new WCG account and new Ripple wallet address.</p>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">We cannot unregister anybody from ComputingforGood.org, so please do not write into support asking us to do so.</p>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="divider normal animated-content fade_in animate" id="cfglogin" style="margin-top: 30px; margin-bottom: 36px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>I was not able to log into my ComputingforGood.org account.</span></h3>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">Occasionally the system is down. Please try again in a couple of hours.</p>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="divider normal animated-content fade_in animate" id="receivexrp" style="margin-top: 30px; margin-bottom: 36px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="special-heading textalignleft default animated-content fade_in animate" style="padding-bottom: 0px;">
                <h3 class="fancy default"><span>What is the exchange rate of WCG points to XRP?</span></h3>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p">We cannot guarantee any exchange rate between WCG points and XRP.</p>
              </div>
              <div class="text-block animated-content fade_in animate">
                <p class="regform_p" style="color:#999;">Each day, we’ll post on this page the total amount of XRP we’re giving away. At the end of each day, we’ll calculate how much XRP you earned based on the proportion of computing power you donated to the team's total.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section class="main-content no-padding shadow-off">
    <div class="container-fluid">
      <div class="row">
      	<div class="col-md-12">
      		<div class="divider normal animated-content fade_in animate" style="margin-top: 30px; margin-bottom: 36px;"></div>
      	</div>
      </div>
    </div>
  </section>

  <section class="main-content">
    <div class="container">
      <div class="row">
      	<div class="col-md-12">
    			<div class="row">
          	<div class="col-md-12">
        			<div class="text-block animated-content fade_in animate"> <span style="color: #bbbbbb; font-size: 12px;">This giveaway may be discontinued at any time without notice. At any time and without prior notice, Ripple Labs may change the total XRP given away per day, as well as the WCG point to XRP giveaway ratio. Ripple Labs is not affiliated with or endorsed by World Community Grid, nor do we endorse them. Please report bugs and direct questions about this giveaway to support@ripple.com. Otherwise, please refer to support from WCG for particulars about running their client. Security bugs, in this giveaway, must be reported unused to be eligible for the Ripple XRP Bug Bounty. Please report security bugs in accordance with the bounty rules. If you find a security bug in World Community Grid, please inform them directly as we have no special access to their team.</span>
        			</div>
          	</div>
          </div>
      	</div>
      </div>
    </div>
  </section>
