
  <div id="content" class="home_page">

    <section class="masthead main-content border-btm-grey custom-padding shadow-off" style="background-color: #3962ae; padding-top: 70px; padding-bottom: 82px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="special-heading textalignleft default animated-content move_right animate" style="padding-bottom: 10px;">
                  <h2 style="color: #ffffff;" class="fancy default"><span>Computing for Good</span></h2>
                </div>
                <div class="special-heading textalignleft default animated-content move_right animate" style="padding-bottom: 30px;">
                  <h6 style="color: #ffffff;" class="fancy default"><span>We’re giving away XRP in exchange for donating computing power to scientific research via World Community Grid. Anyone with an Internet-connected computer or Android device can participate.</span></h6>
                </div>
                <a class="button-main alert-standard button-large animated-content move_right animate" href="/register">Register</a>
              </div>
              <div class="col-md-6">
                <div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">
                  <h2 style="color: #ffffff;" class="fancy default"><span><%= @total_xrp %> XRP</span></h2>
                </div>
                <div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 10px;">
                  <h4 style="color: #ffffff;" class="fancy default"><span>given away so far</span></h4>
                </div>
                <div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">
                  <h2 style="color: #ffffff;" class="fancy default"><span><%= @total_hours %> Hours</span></h2>
                </div>
                <div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 10px;">
                  <h4 style="color: #ffffff;" class="fancy default"><span>of compute time donated</span></h4>
                </div>
                <div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">
                  <h2 style="color: #ffffff;" class="fancy default"><span><%= @xrp_today.with_delimiter %> XRP</span></h2>
                </div>
                <div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">
                  <h4 style="color: #ffffff;" class="fancy default"><span>will be given away today</span></h4></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="home_copy main-content custom-padding shadow-off" style="padding-top: 70px; padding-bottom: 70px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="text-block animated-content fade_in animate">
                  <h3>What is XRP?</h3>
                  <p>XRP is the native math-based currency of the Ripple network, which enables instant and nearly free payments in any currency. Ripple Labs (the team behind Ripple network) created 100 billion XRP at Ripple’s inception. Because Ripple is a decentralized payment network and distributed currency exchange, Ripple Labs plans to freely give away at least 55 billion XRP. Learn more at <a title="https://ripple.com/" href="https://ripple.com/" target="_blank">ripple.com</a>.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-block animated-content fade_in animate">
                  <h3>What is WCG?</h3>
                  <p><strong>World Community Grid</strong> (WCG) is an effort to create the world’s largest public computing grid to tackle scientific research projects. Using the idle time of computers around the world, World Community Grid’s research projects have analyzed aspects of the human genome, HIV, dengue fever, muscular dystrophy, cancer, influenza, rice crop yields and clean energy. Learn more at <a title="worldcommunitygrid.org" href="http://www.worldcommunitygrid.org/" target="_blank">worldcommunitygrid.org</a>.</p>
                </div>
              </div>
            	<div class="col-md-4">
                <div class="text-block animated-content fade_in animate">
                  <h3>How does donating work?</h3>
                  <p>When your computer is on but not in use, you donate computing power to scientific projects of your choice. Your device will request data on a specific project from WCG's server, perform computations on the data, send the results back to the server, and then request a new piece of work to continue. Each computation that your device performs provides scientists with critical information that accelerates the pace of research!</p>
                  </div>
                </div>
              </div>
              <div class="blank_divider" style="height: 35px;"></div>
              <div class="row">
                <div class="col-md-4">
                  <div class="text-block animated-content fade_in animate">
                    <h3>How many XRP will I get?</h3>
                    <p>First, sign up for the <a title="http://www.worldcommunitygrid.org/team/viewTeamInfo.do?teamId=0QGNJ4D832" href="http://www.worldcommunitygrid.org/team/viewTeamInfo.do?teamId=0QGNJ4D832" target="_blank">“Ripple Labs” WCG team</a>,&nbsp;and create a Ripple account at <a title="ripple.com/client" href="https://ripple.com/client/" target="_blank">www.ripple.com/client.</a> Once you begin computing, you’ll generate WCG points, which are redeemed as XRP in your Ripple account. Each day, we’ll post on this page the total amount of XRP we’re giving away. At the end of each day, we’ll calculate how much XRP you earned based on the proportion of computing power you donated to the team's total.</p>
                  </div>
                </div>
                <div class="col-md-4">

                  <div class="text-block animated-content fade_in animate">
                    <h3>When will I get XRP?</h3>
                    <p>WCG points are awarded beginning at 0:00 Coordinated Universal Time (UTC) each day. Ripple Labs will send XRP to team members accounts each day after WCG points are awarded.</p>
                  </div>

                </div>
                <div class="col-md-4">
                  <div class="text-block animated-content fade_in animate">
                    <h3>What can I do with XRP?</h3>
                    <p>Some people like to keep XRP. You can send it to other a Ripple accounts, or trade it for other currencies. We recommend checking out the <a href="http://www.xrpga.org/"  target="_blank">International Ripple Business Association </a>or <a href="http://ripplefederation.org/" target="_blank">Ripple Federation</a> for a list of developers and businesses who use Ripple.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="main-content custom-padding shadow-off" style="padding-top: 0px; padding-bottom: 82px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
            			<div class="text-block animated-content fade_in animate">
                    <div style="text-align: center;">
                      <h2 class="fancy default" style="color: #3962ae;">Are you ready?</h2>
                      <p><a class="button-main button-large" href="/register">Register</a></p>
                    </div>
                  </div>
            	</div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="main-content no-padding shadow-off">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
      			  <div class="divider normal" style="margin-top: 0px; margin-bottom: 0px;"></div>
            </div>
          </div>
        </div>
      </section>
    </div>

<script type='text/template' id='homeTemplateChinese'>
<div id="content">

<section class="main-content border-btm-grey custom-padding shadow-off" style="background-color: #3962ae; padding-top: 70px; padding-bottom: 82px;">

<div class="container">

<div class="row">

<div class="col-md-12">

<div class="row">

<div class="col-md-6">

<div class="special-heading textalignleft default animated-content move_right animate" style="padding-bottom: 10px;">

<h2 style="color: #ffffff;" class="fancy default"><span>公益计算</span></h2>

</div>

<div class="special-heading textalignleft default animated-content move_right animate" style="padding-bottom: 30px;">

<h6 style="color: #ffffff;" class="fancy default"><span>Ripple Labs 坚定支持有益于人类的项目。因此，我们将经由WCG发放XRP并以此为科学研究提供计算能力。任何一个具备联网计算机或安卓设备的人都可以参与进来。
</span></h6>

</div>

<a class="button-main alert-standard button-large animated-content move_right animate" href="/register">注册</a>

</div>

<div class="col-md-6">

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">

<h2 style="color: #ffffff;" class="fancy default"><span>{{= total_xrp }} XRP</span></h2>

</div>

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 10px;">

<h4 style="color: #ffffff;" class="fancy default"><span>至今所发放量</span></h4>

</div>

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">

<h2 style="color: #ffffff;" class="fancy default"><span>{{= total_hours }} Hours</span></h2>

</div>

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 10px;">

<h4 style="color: #ffffff;" class="fancy default"><span>所捐赠的计算时间
</span></h4>

</div>

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">

<h2 style="color: #ffffff;" class="fancy default"><span>{{= today }} XRP</span></h2>

</div>

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">

<h4 style="color: #ffffff;" class="fancy default"><span>今日将发放量</span></h4></div>

<div class="text-block animated-content fade_in animate">

<p style="text-align: right; margin: 0;"><span style="color: #cccccc;">最后更新时间 11/20/2013 3:01PM PST</span></p>

</div>

</div>

</div>

</div>

</div>

</div>

</section>


<section class="main-content custom-padding shadow-off" style="padding-top: 70px; padding-bottom: 70px;">

<div class="container">

<div class="row">

<div class="col-md-12">

<div class="row">

<div class="col-md-4">

<div class="text-block animated-content fade_in animate">

<h3>什么是 XRP？</h3>

<p>XRP 是 Ripple 网络自带的以数学为基础的货币，该种货币实现了依据 Ripple 协议以任何一种货币进行即时和几乎免交易费的付款。Ripple Labs 作为 Ripple 网络的幕后团队在 Ripple 之初就创造了1000亿的 XRP. 由于 Ripple 是一个分散的支付网络且货币兑换比较分散，Ripple Labs 计划无偿发放至少 55% 的 XRP. 详情请见<a title="https://ripple.com/" href="https://ripple.com/" target="_blank">ripple.com</a>.</p>

</div>

</div>

<div class="col-md-4">

<div class="text-block animated-content fade_in animate">

<h3>什么是WCG？</h3>

<p><strong>WCG是为了创造世界上最大的公共计算网络以应对科研项目而做出的努力。通过使用全球的电脑空闲时间，WCG的科研项目已经分析出了诸如人类的基因组图，HIV, 登革热，肌肉萎缩症，癌症，流感，水稻作物产量和清洁能源等方面的信息。想了解更多请见 <a title="worldcommunitygrid.org" href="http://www.worldcommunitygrid.org/" target="_blank">worldcommunitygrid.org</a>.</p>

</div>

</div>

<div class="col-md-4">

<div class="text-block animated-content fade_in animate">

<h3>XRP 赠送如何运作？</h3>

<p>当你的设备空闲时，它将按照你的选择将其计算能力捐赠给科研项目。你的设备需要来自于WCG服务器的关于某一特定科研项目的数据，对该数据执行计算，将结果发回至服务器，然后请求新的任务。你的设备所进行的每一项计算都为促进科研进步的科学家们提供了重要信息。</p>

</div>

</div>

</div>

<div class="blank_divider" style="height: 35px;"></div>

<div class="row">

<div class="col-md-4">

<div class="text-block animated-content fade_in animate">

<h3>我将获得多少 XRP？</h3>

<p>首先，你需要注册<a title="http://www.worldcommunitygrid.org/team/viewTeamInfo.do?teamId=0QGNJ4D832" href="http://www.worldcommunitygrid.org/team/viewTeamInfo.do?teamId=0QGNJ4D832" target="_blank">“Ripple Labs” WCG team</a>,&nbsp;并在 <a title="ripple.com/client" href="https://ripple.com/client/" target="_blank">www.ripple.com/client</a> 创建一个Ripple账户. 一旦开始计算，你将获得 WCG 点数，这些点将按天进入到你的Ripple账户中。你可以在顶部看到我们每天所发放的XRP总量。每天结束时，我们都会按照当天你在整个团队中所分配的 WCG 点比例给你一定量的 XRP.
</p>

</div>

</div>

<div class="col-md-4">


<div class="text-block animated-content fade_in animate">

<h3>我何时能获得 XRP?
</h3>

<p>WCG 点将统一在协调世界时 0:00 (UTC 0:00) 发放。获取信息后，Ripple Labs会在每天将 XRP 发送给我们的成员。
</p>

</div>


</div>

<div class="col-md-4">

<div class="text-block animated-content fade_in animate">

<h3>我能用 XRP 干什么？
</h3>

<p>有些人喜欢留着 XRP。你可以将XRP发送给有Ripple账户的其他人，或将其兑换成不同的货币。我们建议您在国际 <a href="http://www.xrpga.org/" target="_blank">International Ripple Business Association </a> 或 <a href="http://ripplefederation.org/" target="_blank">Ripple Federation</a> 上寻找使用 Ripple 网络的开发者和商家.</p>

</div>

</div>

</div>

</div>

</div>

</div>

</section>


<section class="main-content custom-padding shadow-off" style="padding-top: 0px; padding-bottom: 82px;">

<div class="container-fluid">

<div class="row">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="text-block animated-content fade_in animate">

<div style="text-align: center;">

<h2 class="fancy default" style="color: #3962ae;">准备好了吗?</h2>

<p><a class="button-main button-large" href="/register">注册</a></p>

</div>

</div>

</div>


</div>

</div>

</div>

</div>

</section>
            </div>

</script>
<% content_for :javascripts do %>

	<script>
    function merge_options(obj1,obj2){
      var obj3 = {};
      for (var attrname in obj1) { obj3[attrname] = obj1[attrname]; }
      for (var attrname in obj2) { obj3[attrname] = obj2[attrname]; }
      return obj3;
    }

	  var wcgStats = {
          total_xrp: '',
          total_hours: '',
          today: ''
        },
	      chinese = false;

      $.getJSON('/api/stats/global', function(stats) {
      	wcgStats = merge_options({
          total_xrp: '',
          total_hours: '',
          today: ''
        },stats);
        console.log(wcgStats);
      	if (chinese) {
      		setChinese(wcgStats);
      	} else {
      		setEnglish(wcgStats);
      	}
      });

      function setChinese (stats) {
      	var html = _.template($('#homeTemplateChinese').html(), wcgStats);
        $('#main').html(html);
      }

      function setEnglish (stats) {
      	var html = _.template($('#homeTemplate').html(),wcgStats);
        $('#main').html(html);
      }

      if (chinese) {
        $('header').html(_.template($('#headerTemplateChinese').html(),wcgStats));
      } else {
        $('header').html(_.template($('#headerTemplate').html(),wcgStats));
      }

      $(document).on('change:language', function(event, language) {
        if (language == 'chinese') {
          chinese = true;
          setChinese(wcgStats);
        } else {
          setEnglish(wcgStats);
        }
      })
	</script>
<% end %>
