

<% content_for :templates do %>
<script type='text/template' id='homeTemplate'>
<div id="content">
                  <section class="main-content border-btm-grey custom-padding shadow-off" style="background-color: #3962ae; padding-top: 70px; padding-bottom: 82px;"><div class="container"><div class="row">
  <div class="col-md-12">
      <div class="row">
  <div class="col-md-6">
      <div class="special-heading textalignleft default animated-content move_right animate" style="padding-bottom: 10px;"><h1 style="color: #ffffff;" class="fancy default"><span>Computing for Good</span></h1></div>
<div class="special-heading textalignleft default animated-content move_right animate" style="padding-bottom: 30px;"><h6 style="color: #ffffff;" class="fancy default"><span>At Ripple Labs, we believe in supporting projects that benefit humanity. As such, we’re giving away XRP in exchange for donating computing power to scientific research, via the World Community Grid. Anybody with an internet-connected computer or Android device can participate.</span></h6></div>
<a class="button-main alert-standard button-large animated-content move_right animate" href="/register">Begin Setup</a>

  </div>

  <div class="col-md-6">
      <div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;"><h1 style="color: #ffffff;" class="fancy default"><span>{{= total_xrp }} XRP</span></h1></div>
<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 10px;"><h3 style="color: #ffffff;" class="fancy default"><span>Total XRP Given Away</span></h3></div>
<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;"><h1 style="color: #ffffff;" class="fancy default"><span>{{= total_hours }} Hours</span></h1></div>
<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 10px;"><h3 style="color: #ffffff;" class="fancy default"><span>Total Compute Time Donated</span></h3></div>

  </div>
</div>
  </div>
</div></div></section><section class="main-content custom-padding shadow-off" style="padding-top: 70px; padding-bottom: 70px;"><div class="container"><div class="row">
  <div class="col-md-12">
      <div class="row">
  <div class="col-md-4">
      <div class="text-block">
<h3>What is XRP?</h3>
<p>XRP is the native currency of the Ripple network, which enables instant and nearly free payments in any currency based on the Ripple protocol. Ripple Labs (the team behind the Ripple network) created 100 billion XRP at Ripple’s inception. Because Ripple is a decentralized payment network and distributed currency exchange, Ripple Labs plans to freely give away at least 55 percent of the total XRP. Learn more at Ripple.com</p>
</div>
  </div>

  <div class="col-md-4">
      <div class="text-block">
<h3>What is the WCG?</h3>
<p>The WCG&nbsp;(World Community Grid) is an effort to create the world’s largest public <a href="http://en.wikipedia.org/wiki/Grid_computing">computing grid</a> to tackle scientific research projects. Using the idle time of computers around the world, World Community Grid’s research projects have analyzed aspects of the <a href="http://en.wikipedia.org/wiki/Human_genome">human genome</a>, <a href="http://en.wikipedia.org/wiki/HIV">HIV</a>, <a href="http://en.wikipedia.org/wiki/Dengue">dengue</a>, <a href="http://en.wikipedia.org/wiki/Muscular_dystrophy">muscular dystrophy</a>, <a href="http://en.wikipedia.org/wiki/Cancer">cancer</a>, <a href="http://en.wikipedia.org/wiki/Influenza">influenza</a>, <a href="http://en.wikipedia.org/wiki/Rice">rice crop yields</a>, and <a href="http://en.wikipedia.org/wiki/Green_energy">clean energy</a>. Learn more at Worldcommunitygrid.org</p>
</div>
  </div>

  <div class="col-md-4">
      <div class="text-block">
<h3>How does donating work?</h3>
<p>When your device is on but not in use, it will donate its computing power to scientific projects of your choice. Your device will request data on a specific project from the WCG server. It will then perform computations on this data, send the results back to the server, and ask the server for a new piece of work. Each computation that your device performs provides scientists with critical information that accelerates the pace of research!</p>
</div>
  </div>
</div><div class="blank_divider" style="height: 35px;"></div>
<div class="row">
  <div class="col-md-4">
      <div class="text-block animated-content move_right">
<h3>How many XRP will I get?</h3>
<p>First, you’ll sign up for the WCG and create a Ripple account at www.ripple.com/client. Once you begin computing for good, you’ll generate “WCG points,” which then get redeemed as XRP in your Ripple account. Each day, we’ll post the day’s XRP to WCG point ratio, which will be adjusted depending on how much total computing power is being donated.</p>
</div>
  </div>

  <div class="col-md-4">
      <div class="text-block animated-content move_right">
<h3>When will I get XRP?</h3>
<p>The WCG awards points at 0:00 Coordinated Universal Time (UTC) each day. After Ripple Labs receives point awards, we then issue XRP based on the <a href="http://link/">posted exchange rate</a> between WCG points and XRP. Then, we calculate and post a new daily exchange rate.</p>
</div>
  </div>

  <div class="col-md-4">
      <div class="text-block animated-content move_right">
<h3>What can I do with XRP?</h3>
<p>Some people like to keep XRP. You can send it to others with a Ripple account, or trade it into different currencies. We recommend checking out the <a href="http://www.xrpga.org/">International Ripple Business Association </a>or <a href="http://ripplefederation.org/">Ripple Federation</a> for a list of developers and businesses who use the Ripple network.</p>
</div>
  </div>
</div>
  </div>
</div></div></section><section class="main-content custom-padding shadow-off" style="padding-top: 0px; padding-bottom: 82px;"><div class="container-fluid"><div class="row">
  <div class="col-md-12">
      <div class="row">
  <div class="col-md-6">
      <div class="special-heading textalignright default lighter animated-content fade_in" style="padding-bottom: 0px;"><h2 style="color: #3962ae;" class="fancy default"><span>Are You Ready?</span></h2></div>

  </div>

  <div class="col-md-6">
      <a class="button-main button-large animated-content move_right" href="/register">Begin Setup</a>

  </div>
</div>
  </div>
</div></div></section><section class="main-content no-padding shadow-off"><div class="container-fluid"><div class="row">
  <div class="col-md-12">
      <div class="divider normal" style="margin-top: 0px; margin-bottom: 0px;"></div>

  </div>
</div></div></section>
            </div>

</script>

<script type='text/template' id='homeTemplateChinese'>
<div id="content">

<section class="main-content border-btm-grey custom-padding shadow-off" style="background-color: #3962ae; padding-top: 70px; padding-bottom: 82px;">

<div class="container">

<div class="row">

<div class="col-md-12">

<div class="row">

<div class="col-md-6">

<div class="special-heading textalignleft default animated-content move_right animate" style="padding-bottom: 10px;">

<h2 style="color: #ffffff;" class="fancy default"><span>公益计算</span></h2>

</div>

<div class="special-heading textalignleft default animated-content move_right animate" style="padding-bottom: 30px;">

<h6 style="color: #ffffff;" class="fancy default"><span>Ripple Labs 坚定支持有益于人类的项目。因此，我们将经由WCG发放XRP并以此为科学研究提供计算能力。任何一个具备联网计算机或安卓设备的人都可以参与进来。
</span></h6>

</div>

<a class="button-main alert-standard button-large animated-content move_right animate" href="/register">注册</a>

</div>

<div class="col-md-6">

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">

<h2 style="color: #ffffff;" class="fancy default"><span>{{= total_xrp }} XRP</span></h2>

</div>

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 10px;">

<h4 style="color: #ffffff;" class="fancy default"><span>至今所发放量</span></h4>

</div>

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">

<h2 style="color: #ffffff;" class="fancy default"><span>{{= total_hours }} Hours</span></h2>

</div>

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 10px;">

<h4 style="color: #ffffff;" class="fancy default"><span>所捐赠的计算时间
</span></h4>

</div>

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">

<h2 style="color: #ffffff;" class="fancy default"><span>{{= today }} XRP</span></h2>

</div>

<div class="special-heading textalignright default animated-content fade_in animate" style="padding-bottom: 0px;">

<h4 style="color: #ffffff;" class="fancy default"><span>今日将发放量</span></h4></div>

<div class="text-block animated-content fade_in animate">

<p style="text-align: right; margin: 0;"><span style="color: #cccccc;">最后更新时间 11/20/2013 3:01PM PST</span></p>

</div>

</div>

</div>

</div>

</div>

</div>

</section>


<section class="main-content custom-padding shadow-off" style="padding-top: 70px; padding-bottom: 70px;">

<div class="container">

<div class="row">

<div class="col-md-12">

<div class="row">

<div class="col-md-4">

<div class="text-block animated-content fade_in animate">

<h3>什么是 XRP？</h3>

<p>XRP 是 Ripple 网络自带的以数学为基础的货币，该种货币实现了依据 Ripple 协议以任何一种货币进行即时和几乎免交易费的付款。Ripple Labs 作为 Ripple 网络的幕后团队在 Ripple 之初就创造了1000亿的 XRP. 由于 Ripple 是一个分散的支付网络且货币兑换比较分散，Ripple Labs 计划无偿发放至少 55% 的 XRP. 详情请见<a title="https://ripple.com/" href="https://ripple.com/" target="_blank">ripple.com</a>.</p>

</div>

</div>

<div class="col-md-4">

<div class="text-block animated-content fade_in animate">

<h3>什么是WCG？</h3>

<p>The <strong>WCG是为了创造世界上最大的公共计算网络以应对科研项目而做出的努力。通过使用全球的电脑空闲时间，WCG的科研项目已经分析出了诸如人类的基因组图，HIV, 登革热，肌肉萎缩症，癌症，流感，水稻作物产量和清洁能源等方面的信息。想了解更多请见 <a title="worldcommunitygrid.org" href="http://www.worldcommunitygrid.org/" target="_blank">worldcommunitygrid.org</a>.</p>

</div>

</div>

<div class="col-md-4">

<div class="text-block animated-content fade_in animate">

<h3>XRP 赠送如何运作？</h3>

<p>当你的设备空闲时，它将按照你的选择将其计算能力捐赠给科研项目。你的设备需要来自于WCG服务器的关于某一特定科研项目的数据，对该数据执行计算，将结果发回至服务器，然后请求新的任务。你的设备所进行的每一项计算都为促进科研进步的科学家们提供了重要信息。</p>

</div>

</div>

</div>

<div class="blank_divider" style="height: 35px;"></div>

<div class="row">

<div class="col-md-4">

<div class="text-block animated-content fade_in animate">

<h3>我将获得多少 XRP？</h3>

<p>首先，你需要注册<a title="http://www.worldcommunitygrid.org/team/viewTeamInfo.do?teamId=0QGNJ4D832" href="http://www.worldcommunitygrid.org/team/viewTeamInfo.do?teamId=0QGNJ4D832">“Ripple Labs” WCG team</a>,&nbsp;并在 <a title="ripple.com/client" href="https://ripple.com/client/" target="_blank">www.ripple.com/client</a> 创建一个Ripple账户. 一旦开始计算，你将获得 WCG 点数，这些点将按天进入到你的Ripple账户中。你可以在顶部看到我们每天所发放的XRP总量。每天结束时，我们都会按照当天你在整个团队中所分配的 WCG 点比例给你一定量的 XRP.
</p>

</div>

</div>

<div class="col-md-4">


<div class="text-block animated-content fade_in animate">

<h3>我何时能获得 XRP?
</h3>

<p>WCG 点将统一在协调世界时 0:00 (UTC 0:00) 发放。获取信息后，Ripple Labs会在每天将 XRP 发送给我们的成员。
</p>

</div>


</div>

<div class="col-md-4">

<div class="text-block animated-content fade_in animate">

<h3>我能用 XRP 干什么？
</h3>

<p>有些人喜欢留着 XRP。你可以将XRP发送给有Ripple账户的其他人，或将其兑换成不同的货币。我们建议您在国际 <a href="http://www.xrpga.org/">International Ripple Business Association </a> 或 <a href="http://ripplefederation.org/">Ripple Federation</a> 上寻找使用 Ripple 网络的开发者和商家.</p>

</div>

</div>

</div>

</div>

</div>

</div>

</section>


<section class="main-content custom-padding shadow-off" style="padding-top: 0px; padding-bottom: 82px;">

<div class="container-fluid">

<div class="row">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="text-block animated-content fade_in animate">

<div style="text-align: center;">

<h2 class="fancy default" style="color: #3962ae;">准备好了吗?</h2>

<p><a class="button-main button-large" href="/register">注册</a></p>

</div>

</div>

</div>


</div>

</div>

</div>

</div>

</section>
            </div>

</script>
<% end %>

<% content_for :javascripts do %>
	<script>
	  var wcgStats,
	      chinese = false;

      $.getJSON('/api/stats/global', function(stats) {
      	wcgStats = stats;
      	if (chinese) {
      		setChinese(stats);
      	} else {
      		setEnglish(stats);
      	}
      });

      function setChinese (stats) {
      	var html = _.template($('#homeTemplateChinese').html(), stats);
        $('header').html(_.template($('#headerTemplateChinese').html()),{});

        $('#main').html(html);
      }

      function setEnglish (stats) {
      	var html = _.template($('#homeTemplate').html(), stats);
        $('header').html(_.template($('#headerTemplate').html()),{});

        $('#main').html(html);
      }

      if (chinese) {
        $('header').html(_.template($('#headerTemplateChinese').html()),{});
      } else {
        $('header').html(_.template($('#headerTemplate').html()),{});
      }

      $(function () {
        var language;
        $('select').on('change', function (e){
          language = $(this).val();
          if (language == 'chinese') {
            chinese = true;
            setChinese(wcgStats);
          } else {
            setEnglish(wcgStats);
          }
        })
      })
	</script>
<% end %>