<h2 style='font-size:150%; text-align:center; margin-top:30px'>Enter your WCG username to see your Computing For Good stats and payouts</h2>
<div style='text-align: center;margin:30 auto; margin-top:50px'>
<form action='/stats/username'>
  <label>WCG Username</label>
  <input type='text' name='username'/>
  <input type='submit'/>
</form>
</div>
