<div id="content">
</div>

<% content_for :javascripts do %>
<script>
  var myData, chinese = false;

  $ = jQuery;
  $(function () {

    function showHeader() {
      $('#content').html(_.template($('#statsPageHeaderTemplate').html(),{}));
    }

    function displayMyData (data, chinese) {
      $('.ajaxLoader').hide();

      $('.headerRight').html(data.user.name);
      var params = {
        username: data.user.name
      }
      _.extend(params, data.global);
      params.personalHours = Math.round(data.user.run_time / 60.0 / 60.0);
      params.personalXrp = data.user.xrp;
      if (chinese) {
        $('#content').html(_.template($('#statsPageTemplateChinese').html(), params));
      } else {
        $('#content').html(_.template($('#statsPageTemplate').html(), params));
      }

      $('.ajaxLoader').hide();
    }

    showHeader();
    $.getJSON('/api/stats', function(data) {
      myData = data;
      $('.ajaxLoader').hide();
      if (data.error) {
        $('.main-content').after($('<p/>').text('Your stats are currently unavailable because WCG statistics are being updated. Please try again later.').css('text-align','center'));
      } else {
        displayMyData(data, chinese)
      }
    });

    $(document).on('change:language', function(event, language) {
      if (language == 'chinese') {
        chinese = true;
        displayMyData(myData, chinese)
      } else {
        chinese = false;
        displayMyData(myData, chinese)
      }
    })

  });
</script>
<% end %>