<div id="content">
</div>

<% content_for :javascripts do %>
<script>
  var myData, chinese = false;

  $ = jQuery;
  $(function () {

    function displayMyData (data, chinese) {
      $('.ajaxLoader').hide();

      $('.headerRight').html(data.user.name);
      var params = {
        username: data.user.name
      }
      _.extend(params, data.global);
      if (data.user.stats.length < 1) {
        params.personalHours = 0;
        params.personalXrp = 0;
      } else {
        params.personalHours = Math.round(data.user.stats['RunTime'] / 60.0 / 60.0);
        params.personalXrp = 0;
        console.log(data.user.stats);
      }
      if (chinese) {
        $('#content').html(_.template($('#statsPageTemplateChinese').html(), params));
      } else {
        $('#content').html(_.template($('#statsPageTemplate').html(), params));
      }
    }

    $.getJSON('/api/stats', function(data) {
      myData = data;
      $('.ajaxLoader').hide();
      if (data.error) {
        $('.main-content').after($('<p/>').text('Your stats are currently unavailable because WCG statistics are being updated. Please try again later.').css('text-align','center'));
      } else {
        displayMyData(data, chinese)
      }
    });

    $(document).on('change:language', function(event, language) {
      console.log(myData);
      if (language == 'chinese') {
        chinese = true;
        displayMyData(myData, chinese)
      } else {
        chinese = false;
        displayMyData(myData, chinese)
      }
    })

  });
</script>
<% end %>